@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>GamesFun</h1>
    <p>Bienvenidos al ahorcado de GamesFun</p>
    <p>Elija una palabra y arriesgue letras para adivinarla</p>
    <p>El juego termina cuando adivinas la palabra o te quedas sin intentos</p>
    <p>Máximos intentos: 6</p>
    <p>No los malgastes</p>
    <p>Cualquier palabra con tilde no la tiene en este juego</p>
    <p>Presione el botón para jugar:</p>
    <a href='@Url.Action("JuegoAhorcado")'>
        <input type="button" value="Jugar">
    </a>
</div>

