@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>GamesFun</h1>
    <p>Bienvenidos al ahorcado de GamesFun, presione el botón para jugar:</p>
    <a href='@Url.Action("JuegoAhorcado")'>
        <input type="button" value="Ver Disco Completo">
    </a>
</div>

